{{- if eq .Values.mode "diag" }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.name }}-{{ .Values.batchjob.name }}-{{ .Values.batchjob.parallelism }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  ttlSecondsAfterFinished: 120
  completionMode: Indexed
  parallelism: {{ .Values.batchjob.parallelism }}
  completions: {{ .Values.batchjob.parallelism }}
  backoffLimit: 2
  template:
    metadata:
      labels:
        app: {{ .Values.name }}-{{ .Values.batchjob.name }}
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      tolerations:
      - key: "node.kubernetes.io/unschedulable"
        operator: "Exists"
        effect: "NoSchedule"
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                  - {{ .Values.name }}-{{ .Values.batchjob.name }}
            topologyKey: "kubernetes.io/hostname"
      hostPID: true
      hostNetwork: true
      {{- if .Values.nodeName }}
      nodeName: {{ .Values.nodeName }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            privileged: true
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: SICHEK_SPEC_URL
            value: https://oss-cn-shanghai-2.siflow.cn/hisys:hisys-sichek-sh/specs
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          {{- if eq (toString .Values.batchjob.gpu) "true"}}
          - name: NVIDIA_VISIBLE_DEVICES
            value: none
          {{- end }}
          command: ["/bin/bash"]
          args:
            - "-c"
            - |-
              {{- if ne .Values.defaultSpec "default_spec.yaml" }}
              cp /var/sichek/config/{{ .Values.defaultSpec }} /var/sichek/config/default_spec.yaml || true
              {{- end }}
              {{ .Values.batchjob.cmd }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
{{- end }}
