{{- if eq .Values.mode "install-one" }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Values.name }}-install-{{ .Values.nodeName }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.name }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  ttlSecondsAfterFinished: 120
  template:
    metadata:
      labels:
        app: {{ .Values.name }}-install-{{ .Values.nodeName }}
    spec:
      nodeName: {{ .Values.nodeName }}
      tolerations:
      - key: "node.kubernetes.io/unschedulable"
        operator: "Exists"
        effect: "NoSchedule"
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            privileged: true
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          command: ["/bin/bash"]
          args:
            - "-c"
            - |-
              set -eu
              cp /opt/sichek/dist/sichek_*_linux_amd64.deb /host/tmp/
              cp -rf /usr/local/sihpc /host/usr/local/sihpc
              deb_file=$(ls /host/tmp/sichek_*_linux_amd64.deb)
              chroot /host dpkg -i "/tmp/$(basename "$deb_file")"
              rm /host/tmp/sichek_*_linux_amd64.deb
              echo "Install finished"
          volumeMounts:
            - name: host-root
              mountPath: /host
      volumes:
        - name: host-root
          hostPath:
            path: /
            type: Directory
      restartPolicy: Never
{{- end }}
