infiniband:
  default:
    ib_devs:
      mlx5_0: ib0
      mlx5_1: ib1
      mlx5_2: ib2
      mlx5_3: ib3
    sw_deps:
      kernel_module:
        - "rdma_ucm"
        - "rdma_cm"
        - "ib_ipoib"
        - "mlx5_core"
        - "mlx5_ib"
        - "ib_uverbs"
        - "ib_umad"
        - "ib_cm"
        - "ib_core"
        - "mlxfw"
      ofed_ver: ">=MLNX_OFED_LINUX-23.10-1.1.9.0"
    pcie_acs: "disable"
hca:
  MT_0000000970: {}
  MT_0000000838: {}
  MT_0000000971: {}
  MT_0000000223: {}
  DEL0000000036: {}
